[submodule "lib/micropython-utils"]
	path = lib/micropython-utils
	url = git@github.com:paolotherocker/micropython-utils.git
[submodule "lib/micropython-lib"]
	path = lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "lib/micropython-tm1637"]
	path = lib/micropython-tm1637
	url = git@github.com:mcauser/micropython-tm1637.git
